/* block specific CSS goes here */

main .joesample-container > div {
  max-width: unset;
}
  
main .joesample-container {
  padding: 0;
}
  
main .joesample {
  position: relative;
  padding: 32px;
  min-height: 300px;
}

main .joesample h1 {
  color: green;
}

main .joesample h2 {
  color: red;
}

main .joesample picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  box-sizing: border-box;
}

main .joesample img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
